body{
    margin: 0;
    background-color: rgb(240, 235, 235);
}

.contenedor {
    background-color: rgb(15, 6, 19);
    width: 80%;
    height: 450px;
    margin: 1em auto;
    padding: 3em;
}


.caja_izquierda {
    width: 40%;
    height: 400px;
    background-color: rgb(27, 14, 63);
    float:left;
    padding-right: 2em ;
}

h1, p {
    color: white;
    padding: 12px 50px 15px 38px;
}

h1{
    font-size: 2.3em;
}

span {
    color: blueviolet;
}

.datos >span{
    display: inline;
    margin: 1.2em;
    color: rgb(201, 197, 197);
    font-family: sans-serif;
    font-weight: bold;
    padding: 1em;
}

.referencias >span{
    color: white;
    font-size: 13px;
    margin: 1.2em;
    padding: 1.2em;
}

p{
    margin-top: -2em;
    color: rgb(167, 164, 164);
}

.caja_derecha{
    background-image: url(../oficina.jpeg);
    /*background-color: rgba(45, 0, 74, 1);*/
    background-size: 100% 100%;
    
}
.caja_derecha{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 400px;
    padding: 0;
    margin: 0;
    
}

.caja_derecha > img{
    position: absolute;
}