body {
    background: rgba(0, 0, 0, 0.7) url(./netflix_catalogo.webp) no-repeat;
    height: fit-content;
    background-size: cover;
    background-blend-mode: darken; 
}

.logo{
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 30px;
}

nav{
    list-style: none;
    margin: 0;
}


nav ul li {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    align-items: flex-end;
}

ul li ul {
position: absolute;
 /* Set 1px less than menu width */
display: none;

}

#menu ul li> a {
display: block;
text-decoration: none;
background-color: transparent;
color: rgb(250, 244, 244);
padding: 10px;
min-width: 100px;
}

#menu >li{
  float: left;
  text-align:center
}
#menu ul >li >ul{
  background-color: rgba(0, 0, 0, 0.4);
}

#menu ul >li:hover>ul {
  display:block;
  padding-left: 0;  
}

#menu li>a:hover{
  background-color: rgba(230, 223, 223, 0.4);
}

.idioma {
    text-align: center;
}

.contenedor-flex{
    display: flex;
    justify-content: flex-end;
}
.sesion{
    background-color: rgb(231, 3, 3);
    font-size: 1em;
    border: rgb(231, 3, 3);
    color: rgb(246, 248, 248);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.presentacion {
    width: 800px;
    margin: 10em auto;
    color: white;
    text-align: center;
}

h1{
    font-size: 2.2em;
    padding-left: 3em;
    padding-right: 3em;
}


form > input{
    font-size: 1em;
    height: 1.7em;
    width: 300px;
}
form > button{
    background-color: rgb(231, 3, 3);
    border: rgb(231, 3, 3);;
    color: rgb(246, 248, 248);
    padding: 10px;

}
