body {
    background-color: rgb(196, 191, 191);
}

.card{
    margin: 1em auto;
    background-color: azure;
    width: 340px;
    height: 530px;
    box-shadow: 5px 10px;
}

.qr_code {
    width: 300px;
    padding: 20PX;
}

h4 {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
}

p {
    margin-top: -2px;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    color: gray;
    
}

